# ---------- Python ----------
__pycache__/
*.pyc

# ---------- Virtual env ----------
venv/
.venv/

# ---------- Runtime profile data ----------
Data/Profiles/**
!Data/Profiles/.gitkeep

Data/Profiles/**/captures/
Data/Profiles/**/debug/
Data/Profiles/**/references/

# ---------- IDE ----------
.vscode/
.idea/
